@media screen and (min-width: 768px) {
     :local(.content) {
        grid-area: con;
    }
}

@media screen and (max-width: 768px) {
     :local(.content) {
        /* grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2; */
        
    }
}

:local(.content) {
    color: var(--main-fg);
    line-height: 1.5rem;
    padding: 0 0.25rem;
    position: relative;
    overflow: hidden;
    background-color: var(--main-bg);
    border-radius: 0 0.5rem 0.5rem 0;
}

:local(.content>article::-webkit-scrollbar) {
    width: 0.75rem;
    height: 0.75rem;
}

:local(.content>article::-webkit-scrollbar-track) {
    -webkit-box-shadow: inset 0 0 0.75rem var(--main-bg-30);
}

:local(.content>article::-webkit-scrollbar-thumb) {
    background-color: var(--scrollbar-thumb);
    outline: none;
    border-radius: 0.5rem;
    border: 0.15rem solid var(--main-bg);
}

:local(.content>article::-webkit-scrollbar-track-piece) {
    background-color: var(--scrollbar-track-piece);
    outline: none;
    width: 1px;
    border: 5px var(--main-bg) solid;
}

:local(.content>article::-webkit-scrollbar-button) {
    visibility: hidden;
    height: 0;
    width: 0;
}

:local(.content>article::-webkit-scrollbar-corner) {
    visibility: hidden;
}

:local(.content.shade_head::before) {
    content: '';
    top: 0;
    height: 4rem;
    width: calc(100% - 2rem);
    position: absolute;
    background-image: linear-gradient(to bottom, var(--main-bg) 0%, transparent 100%);
}

:local(.content.shade_footer::after) {
    content: '';
    bottom: 0;
    height: 4rem;
    width: calc(100% - 2rem);
    position: absolute;
    background-image: linear-gradient(to top, var(--main-bg) 0%, transparent 80%);
}

:local(.content>article) {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 1rem;
}