:global(section.loading) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    align-items: center;
    text-align: center;
    align-self: center;
    font-size: 2em;
}

:global(section>article>.map-container) {
    position: relative;
    height: 17.5rem;
    border-radius: 0.5rem;
    margin: 0 0.15rem;
    box-shadow: 0 0 0.5rem 0 var(--body-bg);
    overflow: hidden;
}

:global(a[title="Report problems with Street View imagery to Google"]),
:global(a[href^="http://maps.google.com/maps"]),
:global(a[href^="https://maps.google.com/maps"]),
:global(.gmnoprint a),
:global(.gmnoprint span),
:global(.gm-style-cc) {
    display: none !important;
}

@media screen and (min-width: 768px) {
     :global(main) {
        height: 90vh;
        width: 92.5vw;
        grid-template-columns: 4rem 20rem auto;
        grid-template-rows: 2.5vh auto 2.5vh;
        grid-template-areas: ". img ." "nav img con" ". img .";
    }
}

@media screen and (max-width: 768px) {
     :global(main) {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        grid-template-columns: 3rem auto 0;
        grid-template-rows: 4rem auto;
    }
     :global(section) {
        padding: 0.01rem;
    }
}

:global(h1) {
    font-size: 2.5em;
}
:global(h2) {
    font-size: 1.5em;
}
:global(h3) {
    font-size: 1.25em;
}


:global(article.address) {
    display: grid;
    grid-template-columns: 1.75em auto 50px;
    margin-block-start: 1.5em;
    margin-block-end: 1em;
    line-height: 1.25em;
    white-space: pre-wrap;
    align-items: center;
}

:global(section>.profile>.address) {
    grid-row: 2;
}

:global(article.list) {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: auto;
}

:global(article.address) {
    font-weight: bold;
}

:global(article.address),
:global(article.list>ul) {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50px auto;
    align-items: center;
}

:global(article.list>ul) {
    list-style: none;
    padding-left: 0;
}

:global(article.address>.icon),
:global(article.list>ul>li:first-child) {
    text-align: center;
}