.Control,
.Control:active {
    background-color: var(--input-bg);
    color: var(--main-fg);
}

.Prepend>span {}

.Prepend>span {
    background-color: var(--input-prepend-bg);
    color: var(--input-prepend-fg);
    font-size: x-small !important;
    font-weight: bold;
}

.Control::placeholder {
    color: var(--main-fg-75);
}

.Control:hover {
    background-color: var(--main-bg-50);
    color: var(--main-theme-fg-100);
}

.Control:focus {
    font-weight: bolder;
    background-color: var(--input-bg);
    color: var(--main-theme-fg-100);
}

.spanBtn {
    display: grid;
    text-align: center;
    text-align: -webkit-center;
    cursor: pointer;
    align-items: center;
    background-color: var(--main-bg-25);
    border: 1px solid var(--main-bg-25);
    border-radius: 0.25rem;
    width: calc(2rem - 2px);
    height: calc(2rem - 2px);
}

.spanBtn:hover {
    background-color: var(--main-bg-50);
    color: var(--main-fg);
}

.editMode {
    border-left: 0.5rem solid var(--main-theme-fg-100);
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    margin-left: -1rem;
    margin-bottom: 2rem;
}

.editMode::after {
    content: '';
    display: flex;
    width: 100%;
    border-bottom: 1px dotted white;
    position: relative;
    top: 1rem;
}

.subList {
    border-left: 0.5rem solid var(--main-theme-fg-75);
    margin: 0.5rem 0;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.subList::after {
    content: '';
    display: flex;
    width: 100%;
    border-bottom: 1px dotted white;
    position: relative;
    top: 0.5rem;
}

.btnPrimary {
    background-color: var(--main-theme-fg-100);
    border-color: var(--main-theme-fg-100);
    color: white;
}

.btnPrimary:hover {
    background-color: var(--main-theme-fg-75);
    border-color: var(--main-theme-fg-100);
    color: white;
}

.btnPrimary:focus {
    background-color: var(--main-bg-25);
    border-color: var(--main-theme-fg-100);
    color: white;
}

.btnOutlinePrimary {
    border-color: var(--main-theme-fg-100);
    background-color: var(--main-theme-fg-25);
    color: white;
}

.btnOutlinePrimary:hover {
    border-color: var(--main-theme-fg-75);
    background-color: var(--main-theme-fg-100);
    color: white;
}

.btnOutlinePrimary:focus {
    border-color: var(--main-bg-25);
    background-color: var(--main-theme-fg-100);
    color: white;
}