.body>div {
    padding: 1rem;
}

.Card {
    background: var(--card-bg);
    color: var(--card-fg);
    margin-bottom: 1rem;
}

.Accordion>div {
    background: var(--page-bg);
    margin: 0 -1.75rem;
}

.Accordion>div>div:first-child {
    background: var(--card-head-bg);
    color: white;
    border-bottom: 1px solid white;
    padding: 0.25rem 0.5rem;
}

.Accordion>div>div:not(:first-child) {
    background: var(--card-body-bg);
    padding: 0;
}

.Accordion>div>div>div {
    padding: 1rem 0.5rem;
    padding-bottom: 0;
}

.Accordion h2,
.Accordion h1 {
    margin: 0.75rem 0 0.25rem 0;
    font-size: 1rem;
}

body::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.75rem var(--main-bg-30);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    outline: none;
    border-radius: 0.5rem;
    border: 0.15rem solid var(--main-bg);
}

body::-webkit-scrollbar-track-piece {
    background-color: var(--scrollbar-track-piece);
    outline: none;
    width: 1px;
    border: 5px var(--main-bg) solid;
}

body::-webkit-scrollbar-button {
    visibility: hidden;
    height: 0;
    width: 0;
}

body::-webkit-scrollbar-corner {
    visibility: hidden;
}

body {
    overflow-y: auto;
}