@media screen and (min-width: 768px) {
     :local(nav) {
        grid-area: nav;
    }
}

@media screen and (max-width: 768px) {
     :local(nav) {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
    }
}

:local(.nav) {
    background-color: var(--main-bg);
    border-radius: 0.5rem 0 0 0.5rem;
}

:local(.nav>ul) {
    display: grid;
    grid-template-rows: repeat(auto-fill, 2rem);
    grid-gap: 1rem;
    color: var(--main-theme-fg-100);
    list-style: none;
    align-items: center;
    text-align: center;
    padding: 0.25rem;
    height: 100%;
}

:local(.nav>ul>a) {
    text-decoration: none;
    color: var(--main-theme-fg-100);
}

:local(.nav>ul>a>li) {
    padding: 0.25rem;
    width: calc(2.5rem + 2px);
    height: calc(2.5rem + 2px);
    line-height: 2rem;
    border: 2px solid transparent;
    border-radius: 50%;
}

:local(.nav>ul>a>li:hover) {
    border-color: var(--main-theme-fg-100);
    color: var(--main-fg);
}

:local(.nav>ul>a>li.active) {
    border-color: var(--main-theme-fg-100);
    color: var(--main-fg);
}